.row {
  height: 65%;
  margin: 0;
}

.col {
  height: 100%;
}

.card {
  height: 90%;
}

.card-content {
  height: 90%;
}

label {
  font-size: 40px;
}

input[type=email],
input[type=password],
input[type=text] {
  height: 70px;
  font-size: 20px;
}

span {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.signup {
  font-size: 30px;
}

.btn-large {
  font-size: 20px;
  width: 300px;
}
