/*
-------------------------------------------------------------------------------
  Main
-------------------------------------------------------------------------------
*/

main {
  height: 65%;
  width: 100%;
}

#search {
  height: 30%;
  width: 100%;
}

#search form input {
  height: 100px;
  width: 100%;
}

#results {
  height: 70%;
}
