body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #C2C2C2, #D6D6D6, #C2C2C2);
}

/*
-------------------------------------------------------------------------------
  Nav
-------------------------------------------------------------------------------
*/

/*nav {
  background-color: inherit;
  box-shadow: 0;
}*/


/*
-------------------------------------------------------------------------------
  Search
-------------------------------------------------------------------------------
*/

#search {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#search form label {
  /*color: white;*/
  font-size: 50px;
}

#search form button {
  /*height: 5%;
  width: 10%;
  font-size: 50px;*/
  margin: 0 auto;
}
