/*
-------------------------------------------------------------------------------
  Header
-------------------------------------------------------------------------------
*/
header form {
  width: 40%;
  height: 40%;
}

header form input {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/*
-------------------------------------------------------------------------------
  Main
-------------------------------------------------------------------------------
*/

main {
  height: 100vh;
  width: 100%;
}

/*Filter*/
.filter-menu-container {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 30%;
}

#filters-pop {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 10px 20px 10px gray;
  background-color: #003FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#filters-nav {
  height: 10%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#filter-btn {
  height: 60%;
  width: 25%;
  background-color: #D90B29;
  color: white;
  font-size: 50px;
}

#filter-one, #filter-two, #filter-three {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

#filter-one form, #filter-two form, #filter-three form {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.filter-one-input, .filter-two-input, .filter-three-input {
  height: 90%;
  width: 90%;
  font-size: 3em;
  border: 1px solid black;
}

#rating-filter {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#rating-filter .rating-circle-filter {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 5px solid black;
  border-radius: 50%;
}

/*Profile*/
#profile-info {
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#user-icon {
  font-size: 75px;
}

#user-name {
  font-size: 50px;
}

#follow-user {
  height: 40%;
  width: 25%;
  background-color: #002596;
  font-size: 50px;
  color: white;
  box-shadow: 0 1px 10px 5px gray;
  /*align-self: center;
  align-content: flex-end;*/
}

#profile-beers {
  height: 60vh;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 1px 1px 1px gray;
}

#profile-menu {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: white;
}

#beer-display {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.result {
  height: 12vh;
  width: 90%;
  margin: 0.5% auto;
  background-color: white;
  box-shadow: 0 0 0 1px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  height: 90%;
  width: 90%;
}

.info {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.name {
  height: 80%;
  width: 100%;
}

.name h3 {
  font-size: 3em;
}

.name h4 {
  font-size: 2em;
}

.name h5 {
  font-size: 1.75em;
}

.stats {
  height: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.stats p {
  font-size: 1.5em;
}

.shadow {
  background-color: #003BF0;
  box-shadow: 0 5px 25px 5px gray;
}

#rated-beers, #starred-beers {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rated-beers h2, #starred-beers h2 {
  font-size: 50px;
}
