h1, h2, h3, h4, h5, p {
  margin: 0;
}

/*
-------------------------------------------------------------------------------
  Header
-------------------------------------------------------------------------------
*/
header form {
  width: 40%;
  height: 40%;
}

header form input {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/*
-------------------------------------------------------------------------------
  Main
-------------------------------------------------------------------------------
*/

main {
  height: 100vh;
  width: 100%;
}

/*Filter*/
.filter-menu-container {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 30%;
}

#filters-pop {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 10px 20px 10px gray;
  background-color: #003FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#filters-nav-container {
  height: 10%;
  width: 90%;
  margin: 0 auto;
}

#filters-nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#filter-btn {
  height: 60%;
  width: 25%;
  background-color: #D90B29;
  color: white;
  font-size: 50px;
}

#filter-options {
  height: 100%;
  width: 75%;
}

#filter-options-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-option-btn {
  height: 50%;
  width: 20%;
  font-size: 40px;
  background-color: #FFC72E;
}

#find-a-beer, #find-by-style, #find-by-brewery, #find-by-rating {
  height: 60%;
  width: 75%;
}

#find-a-beer .form-container, #find-by-style .form-container, #find-by-brewery .form-container, #find-by-rating .form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#find-a-beer input, #find-by-style input, #find-by-brewery input, #find-by-rating input {
  height: 100%;
  width: 90%;
  font-size: 50px;
}

/*Profile*/
#profile-info {
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#user-icon {
  font-size: 75px;
  margin-right: 5%;
}

#user-name {
  font-size: 50px;
  margin-right: 5%;
}

#follow-user {
  height: 40%;
  width: 25%;
  background-color: #002596;
  font-size: 50px;
  color: white;
  box-shadow: 0 1px 10px 5px gray;
  position: absolute;
  right: 0;
}

#profile-menu {
  height: 5vh;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 0 1px 1px gray;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: white;
}

#rated-beers, #starred-beers, #following {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#beer-display {
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 2vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#beer-display h5 {
  font-size: 35px;
}

.result {
  height: 12vh;
  width: 100%;
  margin: 0.5% auto;
  border-radius: 3%;
  background-color: lightgoldenrodyellow;
  box-shadow: 0px 5px 15px 0px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  height: 90%;
  width: 90%;
}

.photo i {
  font-size: 150px;
}

.info {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.info-follow {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

.star {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  font-size: 100px;
}

.star-gold {
  color: #FF9909;
}

.name {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  /*align-items:center;*/
  flex-direction: column;
}

.name h3 {
  font-size: 3em;
}

.name h4 {
  font-size: 2em;
}

.name h5 {
  font-size: 1.75em;
}

.stats {
  height: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.stats p {
  font-size: 1.5em;
}

.shadow {
  background-color: #003BF0;
  box-shadow: 0 5px 25px 5px gray;
}

#rated-beers, #starred-beers, #following {
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rated-beers h2, #starred-beers h2, #following h2 {
  font-size: 50px;
  height: 70%;
}
