h1, h2, h3, h4, h5, p {
  margin: 0;
}

/*
-------------------------------------------------------------------------------
  Header
-------------------------------------------------------------------------------
*/
header form {
  width: 40%;
  height: 40%;
}

header form input {
  width: 100%;
  height: 100%;
  font-size: 2em;
}

/*
-------------------------------------------------------------------------------
  Main
-------------------------------------------------------------------------------
*/

main {
  height: 70vh;
  width: 100%;
}

#confirm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
}

#user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
}

#yea-or-nea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
  align-items: center;
}
